# Byte-copiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask:
instance/
.webassets-cache

# Sqlite:
tmp/

# Environments
venv/

# See https://github.com/github/gitignore/blob/master/Python.gitignore